p{
    font-family: Arial, Helvetica;
    font-weight: 200;
    margin: 1px;
}
body{
    margin: 0px;
    padding-top: 70px;
    /* padding-left: 3px; */
    font-family: Roboto,Arial;

}
html{
    scroll-behavior: smooth;
}
h3{
    margin-top: 0px;
    margin-bottom: 6px;
}